<div class="global-grid-bg">
  <div class="shine"></div>
  <div class="tiles">
    <div class="tile tile-1"></div>
    <div class="tile tile-2"></div>
    <div class="tile tile-3"></div>
    <div class="tile tile-4"></div>
    <div class="tile tile-5"></div>
    <div class="tile tile-6"></div>
    <div class="tile tile-7"></div>
    <div class="tile tile-8"></div>
    <div class="tile tile-9"></div>
    <div class="tile tile-10"></div>
  </div>
  <div class="lines">
    <div class="line h-1"></div>
    <div class="line h-2"></div>
    <div class="line h-3"></div>
    <div class="line h-4"></div>
    <div class="line v-1"></div>
    <div class="line v-2"></div>
    <div class="line v-3"></div>
  </div>
</div>
